<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_adminreindex>
            <license>
                <license_key></license_key>
                <production_environment>1</production_environment>
                <portal_url></portal_url>
                <portal_api_url></portal_api_url>
                <issued_key></issued_key>
                <issued_domain></issued_domain>
                <issued_at>0</issued_at>
                <stripe_session></stripe_session>
                <revoked>0</revoked>
            </license>
            <general>
                <enabled>1</enabled>
            </general>
        </etechflow_adminreindex>
    </default>
</config>
