<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Indexer\Block\Backend\Grid">
        <plugin name="etechflow_admin_reindex_inject_actions"
                type="ETechFlow\AdminReindex\Plugin\IndexerGridPlugin"
                sortOrder="100"/>
    </type>

    <type name="Magento\Config\Model\Config">
        <plugin name="etechflow_ar_block_config_save_without_license"
                type="ETechFlow\AdminReindex\Plugin\Adminhtml\Config\BlockSaveWithoutLicense"
                sortOrder="10" disabled="true"/>
    </type>

</config>
